<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item">
            <a href="/">Home</a>
        </div>
        <div class="nav-item">
            <a href="/counter">Counter</a>
        </div>
        <div class="nav-item">
            <a href="/user/1">User 1</a>
        </div>
        <div class="nav-item">
            <a href="/user/42">User 42</a>
        </div>
    </nav>
</div>
