<nav class="nav-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/counter">Counter</a></li>
        <li><a href="/user/1">User 1</a></li>
        <li><a href="/user/42">User 42</a></li>
    </ul>
</nav>
